<%- include('cabecalho.ejs')%>
    
 <!-- Conteúdo Principal -->
    <main class="container">
        <h2>Bem-vindo ao Sistema de Música</h2>
        <img src="./yeonjun.jpg">
    </main>

<%- include('rodape.ejs')%>