<%- include('../cabecalho.ejs')%>
<main class="container">
        <a href="/playlist/lst" class="back-link">← Voltar para Playlists</a>

        <div class="form-container">
            <h2>Cadastrar Nova Playlist</h2>
            
            <form method="post">
                <div class="form-group">
                    <label for="nome">Nome da Playlist *</label>
                    <input 
                        type="text" 
                        id="nome" 
                        name="nome" 
                    >
                </div>

                <div class="form-group">
                    <label for="descricao">musica1 *</label>
                       <input 
                        type="text" 
                        id="musica1" 
                        name="musica1" 
                    >
                </div>
                 <div class="form-group">
                    <label for="descricao">musica 2 *</label>
                       <input 
                        type="text" 
                        id="musica2" 
                        name="musica2" 
                    >
                        </select>
                </div>
                 <div class="form-group">
                    <label for="descricao">musica 3 *</label>
                       <input 
                        type="text" 
                        id="musica3" 
                        name="musica3" 
                    >
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <a href="/playlist/lst" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </main>
<%- include('../rodape.ejs')%>